GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.2
ipykernel==6.29.5
ipython==8.32.0
matplotlib-inline==0.1.7
numpy>=1.24.0,<2.0.0
pandas>=2.0.0,<2.2.0  # For Python 3.11
scikit-learn>=1.3.0,<2.0.0
scipy>=1.10.0,<2.0.0
streamlit==1.44.0
toml==0.10.2
